# dependencies
node_modules/
/node_modules/
**/node_modules/

# next.js
.next/
/.next/
**/.next/
/out/
**/out/

# production
/build
**/.turbo/
**/.swc/
**/.cache/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
.idea/
.vscode/
*.pem
